
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #0f0f1a; */
    /* background-color: rgba(26, 11, 46, 1); */
}

 /* nav section */
.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 150px;
    position: relative;
    background: linear-gradient(180deg, #1b0b3a, #120726);;
}

.logo {

    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}

.logo span {

    color:rgb(248, 128, 0);

}

.nav-menu {

    list-style: none;
    display: flex;
    gap: 32px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 19px;

    /* color: #dcdcdc; */
}

/* Subscribe Button */

.nav-btn {
    text-decoration: none;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    color: #FFFFFF;

    border-radius: 20px;
    padding: 12px 16px;
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    

    /* background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); */

}

.arrow-icon {
    font-size: 14px;
}

/* Hamburger, hidden in laptop/ desktop */

.hamburger-label {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;

}
.bar {
    width: 22px;
    height: 2px;
    background-color: #FFFFFF;

}

/* Hide checkbox */
#menu-toggle {
    display: none;
}


/* Responsive Breakpoints */

/* Responsive for Small Device (≤ 576px) */

@media (max-width: 576px){

    /* .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */

    .navbar {
    padding: 18px 24px;
        }
    .nav-menu {
        position: static;
        transform: none;
        flex-direction: column;

        width: 100%;
        background-color: #1b0b3a;
        margin-top: 20px;
        padding: 20px 0;

        text-align: center;
        display: none;
    }
    .nav-btn {
        display: none;
    }

    .hamburger-label {
        display: flex;

    }
/* Hide checkbox */
    #menu-toggle:checked~.nav-menu{
        display: flex;
    }
    
} 



/* Responsive Medium Device (576px – 992px) */

@media (min-width: 576px) and (max-width: 992px) {

    .navbar {
        padding: 18px 24px;
    }

    .nav-menu{
        gap: 20px;
        font-size: 13px;
    }
    .nav-btn {
        padding: 8px 14px;
        font-size: 13px;
    }
}

/* Large Device (≥ 992px) */
@media (min-width: 992px) {

    .navbar {
        padding: 20px 80px;
    }

    .nav-menu{
        gap: 32px;
        
    }
    .nav-btn {
        padding: 10px 18px;
        font-size: 1rem;
    }
}